@import "./global.css";

:root {
    --header-height: 48px;
    --font-size-factor: 10pt;
    --logo-size-factor: 96px;
    --border-width: 2px;
    --nav-width: 60vw;
    --nav-elements: 3;
    --animation: cubic-bezier(0.4, 0, 0.2, 1);
}

* {
    font-size: var(--font-size-factor);
}
h3, p, li {
    margin-bottom: var(--font-size-factor);
}
ul {
    margin-top: 0;
}

html, body {
    margin: 0;
    width: 100vw;
    height: 100vh;
}

body {
    height: calc(100vh - var(--header-height));
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: var(--header-height);
    width: 100vw;
    background-color: var(--color-bg-secondary);
    position:absolute;
    top:0;
    left:0;
    -webkit-app-region: drag;
}

header > * {
    -webkit-app-region: no-drag;
}

img#logo {
    width: var(--logo-size-factor);
    height: var(--logo-size-factor);
    align-self: center;
}

main {
    width: calc(100vw - 2*var(--border-width));
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    margin-top: var(--header-height);
    height: calc(100vh - var(--header-height) -  2*var(--border-width));
    overflow-x: hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;
    border: var(--color-bg-secondary) solid var(--border-width);
}

main > article {
    display:flex;
    flex-shrink: 0;
    width: calc(100vw - 16px - 2*var(--border-width));
    height: calc(100vh - 32 - var(--header-height) - 2*var(--border-width));
    flex-flow: column nowrap;
    padding: 16px 8px;
    scroll-snap-align: center;
    overflow-y: overlay;
}

main > article#about, header {
    text-align: center;
}

h1 {
    margin-top: 0.5em;
    font-size: calc(var(--font-size-factor) * 1.5)
}
h2 {
    font-size: calc(var(--font-size-factor) * 1.2)
}
h3 {
    color: var(--color-link);
    font-size: calc(var(--font-size-factor) * 1.1);
    margin-bottom: -.5em
}
h1 ~ h2 {
    margin-top: -.5em;
}
hr {
    width: calc(90vw - 32px);
}

nav {
    display: flex;
}

nav > div div.content {
    font-family: 'Ubuntu';
    color: var(--color-font-settings);
    font-size: var(--font-size-factor);
    font-weight: bold;
    width: calc(var(--nav-width) / var(--nav-elements));
    border-radius: 5px;
    padding: 6px;
    margin-bottom: -2px;
}

nav > div div.content:hover {
    background-color: rgba(255,255,255,.075);
    transition: background-color var(--animation) 0.25s;
}

nav > div.selected div.content {
    color: rgb(var(--color-accent-light));
    background-color: rgba(var(--color-accent-light), 0.05);
    transition: background-color var(--animation) 0.25s, color var(--animation) 0.1s;
}

nav > div.selected div.content:hover {
    background-color: rgba(var(--color-accent-light), .1);
    transition: background-color var(--animation) 0.25s;
}

nav > div div.line {
    width: 0%;
    height: 2px;
    background-color: rgb(var(--color-accent-light));
    position:static;
    bottom: 2px;
    margin-left: auto;
    margin-right: auto;
}

nav > div.selected div.line {
    width: 100%;
    transition: width var(--animation) 0.25s;
}

div.person {
    display: flex;
}

img#closebutton {
    height: calc(var(--header-height) * 0.3);
    padding: 8px;
    position: absolute;
    right: 15px;
    top: auto;
    bottom: auto;
    border-radius: 100%;
}

img#closebutton:hover {
    background-color: #fff1;
}

img.profilePicture {
    border-radius: 100%;
}

body {
    display: none;
}