@import url("global.css");

html, body {
    background-color: transparent;
}

#capturer-selection {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #000a;
    color: var(--color-font-normal);
    display: flex;
    align-items: center;
    justify-content: center;
}
#capturer-scroller {
    width: 100%;
    max-height: 100vh;
    overflow-y: auto;
}
#capturer-list {
    max-width: calc(100% - 100px);
    margin: 50px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    overflow: hidden;
    justify-content: center;
}
.capturer-item {
    display: flex;
    margin: 4px;
}
.capturer-button {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 145px;
    margin: 0;
    border: 0;
    border-radius: 3px;
    padding: 4px;
    color: #FFFFFF;
    background: var(--color-input-bg);
    text-align: left;
    transition: background-color .15s, box-shadow .15s;
}
.capturer-button:hover,
.capturer-button:focus {
    background: var(--color-accent);
}
.capturer-thumbnail {
    width: 100%;
    height: 81px;
    object-fit: cover;
}
.capturer-label-container {
    margin: 6px 0 6px;
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
}

.capturer-label-icon {
    width: 16px;
    padding-right: 4px;
}

.capturer-label {
    color: #dcddde;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
#capturer-buttons {
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}
#capturer-buttons > * {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    background-color: var(--color-input-bg);
    color: #dcddde;
    width: 32px;
    height: 32px;
    transition: background-color .15s;
    border: transparent;
    border-radius: 3px;
    box-shadow: none;
    margin: 2px 0;
}

#capturer-buttons > * > img {
    margin: 0;
    padding: 0;
    width: 14px;
}

#capturer-buttons > *:hover {
    background-color: #678;
}
#capturer-buttons button#capturer-close:active {
    background-color: #c24242;
}

input[type="checkbox"]#capturer-sound {
    appearance: none;
    flex-shrink: 0;
    background-image: url("../../icons/symbols/speaker.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
}

#capturer-sound:checked {
    background-color: var(--color-accent);
}

#capturer-buttons > *:disabled {
    background-color: var(--color-bg-secondary);
    cursor: not-allowed;
}