.capturer-selection {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(30,30,30,.75);
    color: #fff;
    z-index: 10000000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.capturer-scroller {
    width: 100%;
    max-height: 100vh;
    overflow-y: auto;
}
.capturer-list {
    max-width: calc(100% - 100px);
    margin: 50px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    overflow: hidden;
    justify-content: center;
}
.capturer-item {
    display: flex;
    margin: 4px;
}
.capturer-button {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 145px;
    margin: 0;
    border: 0;
    border-radius: 3px;
    padding: 4px;
    color: #FFFFFF;
    background: #36393F;
    text-align: left;
    transition: background-color .15s, box-shadow .15s;
}
.capturer-button:hover,
.capturer-button:focus {
    background: #7289DA;
}
.capturer-thumbnail {
    width: 100%;
    height: 81px;
    object-fit: cover;
}
.capturer-label-container {
    margin: 6px 0 6px;
    display: flex;
    flex-shrink: 0;
    flex-grow: 0;
}

.capturer-label-icon {
    width: 16px;
    padding-right: 4px;
}

.capturer-label {
    color: #dcddde;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.capturer-close {
    background-color: #36393F;
    color: #dcddde;
    font-size: 20px;
    position: fixed;
    padding-bottom: 4px;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
    padding-top: 5px;
    transition: background-color .15s;
}
.capturer-close:hover {
    background-color: #823A3A;
}