@import "./global.css";

h1 {
    font-size: 1.6em;
}

h2 {
    margin-left: 15px;
    font-size: 0.8em;
    text-transform: uppercase;

}

p.description {
    font-size: 0.8em;
    margin: 0 15px 1em 15px;
    color: var(--color-font-settings);
}

div.settingsContainer {
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    margin: 0 40px 2em 40px;
    padding: 10px 15px;
    background-color: var(--color-bg-secondary);
    font-size: 0.8em;
    border-radius: 5px;
}

div.containerElement {
    display: flex;
    margin: 0.5em 0px;
}

label {
    margin-top: 0.15em;
    font-size: 1em;
}

input.checkbox {
    flex-shrink: 0;
    margin: 0 1em;
    height: 1.5em;
    width: 1.5em;
    border-radius: 5px;
    appearance: none;
    cursor: pointer;
    background-color: var(--color-input-bg);
    border-color: var(--color-input-bg);
    transition: background-color 0.2s ease;
    border: solid #0000 4px;
}

input.checkbox:checked {
    background-color: var(--color-accient);
    background-image: url(../../icons/symbols/checkmark.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

code {
    background-color: var(--color-bg-primary) !important;
    font-size: 0.9em !important;
}