@import "./global.css";

h1 {
    font-size: 1.6em;
}

h2 {
    margin-left: 15px;
    font-size: 0.8em;
    text-transform: uppercase;

}

p.description {
    font-size: 0.8em;
    margin: 0 15px 1em 15px;
    color: var(--color-font-settings);
}

form {
    display: flex;
    overflow-x: hidden;
    flex-direction: column;
    margin: 0 40px 2em 40px;
    padding: 10px 15px;
    background-color: var(--color-bg-secondary);
    font-size: 0.8em;
    border-radius: 5px;
}

fieldset {
    display: flex;
    margin: 0.5em 0px;
    padding: 0;
    border: none;
}

label {
    margin-top: 0.15em;
    font-size: 1em;
}

label.disabled {
    color: var(--color-font-settings);
}

input, label {
    cursor: pointer;
}

input:disabled, label.disabled {
    cursor: default;
}

input[type="checkbox"], input[type="radio"] {
    flex-shrink: 0;
    margin: 0 1em;
    height: 1.5em;
    width: 1.5em;
    border-radius: 5px;
    appearance: none;
    background-color: var(--color-input-bg);
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    border: solid #0000 4px;
}

input[type="radio"] {
    border-radius: 100%;
    background-color: var(--color-bg-secondary);
    border: solid var(--color-bg-secondary) 4px;
    outline: solid var(--color-font-normal) 2px;

}

input[type="checkbox"] {
    border-color: var(--color-input-bg);
}

input[type="radio"]:disabled {
    outline-color: var(--color-font-settings);
}

input[type="checkbox"]:checked {
    background-color: var(--color-accent);
    background-image: url(../../icons/symbols/checkmark.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border-color: var(--color-accent);
}

input[type="radio"]:checked {
    background-color: rgb(var(--color-accent-light));
    outline-color: var(--color-font-header)
    
}

code {
    background-color: var(--color-bg-primary) !important;
    font-size: 0.9em !important;
}