root = true

[*.{ts,json}]
charset = utf-8
trim_trailing_whitespace = true
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = false

[package{,-lock}.json]
insert_final_newline = true

[tsconfig.json]
indent_size = 4