# Ignore build / packaging artifacts
out/
app/
# Ignore Node package managers artifacts
node_modules/
package-lock.json
yarn.lock
# Ignore hidden dirs, except `.github`
# (these are likely used by text editors)
.*/
!.github/