name: Run tests
on:
  push:
    paths-ignore:
      - 'docs/**'
      - '.github/ISSUE_TEMPLATE/**'
  pull_request:
    paths-ignore:
      - 'docs/**'
      - '.github/ISSUE_TEMPLATE/**'

env:
  WEBCORD_BUILD: DEVEL

permissions: {}

jobs:
  matrix:
    strategy:
      matrix:
        build: [latest, exact]
        include:
          - name: Linux
            runner: ubuntu
            arch: x64,arm64,armv7l
          - name: Windows
            runner: windows
            arch: x64,arm64,ia32
          - name: macOS
            runner: macos
            arch: x64,arm64

    name: '${{ matrix.name }} (${{ matrix.build }})'
    runs-on: ${{ matrix.runner }}-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@master
        with:
          node-version: 16

      - name: Install dependencies
        run: npm ci

      - name: Update dependencies
        if: ${{ matrix.build == 'latest' }}
        run: npm update

      - name: Run tests
        run: npm test

      - name: Generate distributables (${{ matrix.arch }})
        run: npm run make -- -a ${{ matrix.arch }}

      - name: Upload distributables as artifact
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.name }}_${{ matrix.build }}
          path: out/devel/make/*

      - name: Upload lockfile as artifact
        if: ${{ matrix.build == 'latest' }}
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.name }}_${{ matrix.build }}-lockfile
          path: package-lock.json