name: Publish pre-release
on:
  push:
    tags: ['*beta*']

env:
  WEBCORD_BUILD: DEVEL

permissions:
  contents: write

jobs:
  publish:
    strategy:
      matrix:
        include:
          - name: Linux
            runner: ubuntu
            arch: x64,arm64,armv7l
          - name: Windows
            runner: windows
            arch: x64,arm64,ia32
          - name: macOS
            runner: macos
            arch: x64,arm64

    name: ${{ matrix.name }} (${{ matrix.arch }})
    runs-on: ${{ matrix.runner }}-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3
        with:
          node-version: 16
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Publish distributables (${{ matrix.arch}})
        uses: nick-fields/retry@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          retry_on: error
          max_attempts: 3
          command: npm run publish -- -a ${{ matrix.arch }}